.createApp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form1 {
  display: flex;
}

.formleft,
.formright {
  display: flex;
  flex-direction: column;
}

.formleft label,
.formright label,
.formleft input,
.formright input {
  margin-bottom: 10px;
}

.formleft {
  margin-right: 10px;
}

.formright {
  margin-left: 10px;
}

.btn {
  margin-top: 20px;
}
